@import url('https://fonts.cdnfonts.com/css/child-chat');
body {
  font-family: Arial, sans-serif;
}


#chat {
  width: 500px;
  height: 700px;
  overflow-y: auto;
  border: 3px solid #252525;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Child Chat', sans-serif;
  font-size: large;
  box-shadow: 5px 3px rgb(88, 88, 88);
}

#usersList li:hover {
  background-color: #ccc;
  cursor: pointer;
}

.btn {
  background-color: rgb(65, 61, 61);
  border: 1px solid whitesmoke;
}

.btn:hover{
  background-color: rgb(116, 116, 116);
  border: 1px solid black;
}

#game-board {
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 3px solid black;
  display: none;
}

.cell {
  box-sizing: border-box;
  width: 98px;
  height: 100px;
  border: 1px solid black;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:hover {
  background-color: #ddd;
}

#reset-button {
  display: none;
  margin: 20px auto;
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
}

#start-game {
  display: none;
}

